<div class="row justify-content-center mt-2">
  <h2>
    Click grey "Position" button to generate random container on crane
  </h2>
</div>

<div class="row justify-content-center mt-4">
  <div class="col-8 crane-component">
    <button type="button" class="btn btn-info move-button left" (click)="moveInDirection(-1)">LEFT</button>
    <div class="btn btn-secondary crane" (click)="mockCreateContainer()">Position: {{ crane.currentPosition }}</div>
    <div class="btn btn-secondary load-unload" [ngClass]="{'btn-danger': isLoaded(), 'btn-success': !isLoaded()}" matTooltip="{{crane.container | json}}" matTooltipPosition="above" [matTooltipDisabled]="crane.container == null" (click)="isLoaded() ? unload() : load()"><i class="fas" [ngClass]="{'fa-download': isLoaded(), 'fa-upload': !isLoaded()}"></i></div>
    <button type="button" class="btn btn-info move-button right" (click)="moveInDirection(1)">RIGHT</button>
  </div>
</div>

