.crane {
    height: inherit;
    width: 120px;
}

.crane-component {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.move-button {
    width: 80px;
}

.move-button.right {
    justify-self: end;
}