<div class="row justify-content-center storage-component">
  <div class="col-8">
    <table>
      <tr *ngFor="let row of storage; let rowIndex=index">
        <td *ngFor="let col of row; let colIndex=index" class="justify-content-center" matTooltip="{{storage[rowIndex][colIndex] | json}}" matTooltipPosition="above" [matTooltipDisabled]="storage[rowIndex][colIndex] == null">
          <span class="btn btn-secondary" [ngClass]="{'btn-danger': !isPositionFree(colIndex, rowIndex)}">x</span>
        </td>
      </tr>
    </table>
  </div>
</div>
